* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: lightseagreen;
}

.conDiv{
	display: flex;
	justify-content: center;
	/* flex-flow: column; */
}

#container {
	height: 500px;
	width: 333.8px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	position: relative;
	overflow: hidden;
}

p{
	text-align: center;
	margin: 20px;
	font-size: 30px;
	color: black;
	/* position: absolute; */
	/* position: relative; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
}

#container img{
	border-radius: 15px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

#container i {
	color: aliceblue;
	font-size: 85px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0);
	transition: transform ease 0.5s;
	opacity: 0;
}